{% extends "_base.html" %} {% block content %}
<div class="starter-template">
  <h1>OCR App</h1>
  <hr />
  <br />
  <div>
    <form id="uploadForm" enctype="multipart/form-data">
      <div class="form-group">
        <label for="pdfFile">Upload a PDF here:</label>
        <input type="file" id="pdfFile" accept=".pdf" required />
        <button
          id="upload-button"
          type="button"
          class="btn btn-primary"
          type="button"
          class="btn btn-primary"
          onclick="handleUpload()"
        >
          <span
            class="visually-hidden spinner-grow spinner-grow-sm"
            aria-hidden="true"
          ></span>
          <span role="status">Upload</span>
        </button>
      </div>
    </form>

    <a
      href=""
      id="link-result"
      target="_blank"
      class="btn btn-secondary disabled"
      role="button"
      >Download OCR PDF</a
    >

    <div>
      <textarea id="resultarea" rows="10" style="width: 100%"></textarea>
    </div>
  </div>
</div>
{% endblock %}
